<html>
  <body>
    <h1>Welcome to <%= node["company"] %>!</h1>
    <h2>Hello, world! This my first recipe in action Yipie :) :) My AWS  node is <%= node["fqdn"] %>!</h2>
    <p>
       This AWS instance has <%= node["memory"]["total"].to_i / 1024 %> MB memory.
    </p>
    <p>
       This is version 0.2.0 of apache cookbook in dev env.
    </p>
  </body>
</html>